Source: cutie-home
Section: libs
Maintainer: Cutie Shell Developers <admin@cutie-shell.org>
Priority: optional
Build-Depends: pkg-kde-tools,
               cmake,
               qt6-base-dev,
               qt6-base-private-dev,
               pkg-config,
               qt6-declarative-dev,
               libqt6dbus6t64,
               liblayershellqtinterface6-dev,
               libgles-dev,
               libudev-dev
Standards-Version: 4.5.1

Package: cutie-home
Architecture: any
Multi-Arch: foreign
Provides: cutie-shell
Conflicts: cutie-shell
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package contains Cutie home screen.

